@{
    ViewBag.Title = "PongR";
}

<!-- Contains players' name and the score -->
<div id="header">
    <div class="half">
        <div id="player1-info" class="player-info">
            <ul>
                <li id="player1-name">Test name</li>
                <li id="player1-score" class="player-score">0</li>
            </ul>            
        </div>
    </div>
    <div class="half">
        <div id="player2-info" class="player-info">
            <ul>
                <li id="player2-name">Test name 2</li>
                <li id="player2-score" class="player-score">1</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contains the play field -->
<div id="fieldContainer">
    <div id="player1-field" class="field">
    
    </div>
    <div id="player2-field" class="field">
    
    </div>
</div>

<!-- Footer 
<div id="footer">

</div> -->

