@{
    ViewBag.Title = "PongR";
}

<!-- Contains players' name and the score -->
<div id="header">

</div>

<!-- Contains the play field -->
<div id="fieldContainer">
    <div id="field">
    
    </div>
</div>

<!-- Footer 
<div id="footer">

</div> -->

