@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<script type="text/javascript">
    $(document).ready(function () {
        // Initialise keyboard handler
        var keyboard = new THREEx.KeyboardState();
        window.input = [];
        window.setInterval(function () {
            var count = keyboard.pressed('up');
            for (var i = 0; i < count; i++) {
                window.input.push('up');
            } // up
            var count = keyboard.pressed('down');
            for (var i = 0; i < count; i++) {            
                window.input.push('down');
            } // down
        }, 15);
    });
</script>