html {
	width:100%;
	height:100%;
}

body 
{
	font-family: Helvetica;		
	width:100%;
	height:100%;  
	margin: 0px;  
}

h1 
{
	font-size: 50px;    
	padding-bottom: 20px;	
}

h2 
{
	font-size: 25px;    	
	padding-left: 20px;
	font-weight: lighter;
}

ul 
{
	list-style: none;
	list-style-image: none;
	margin:0px;
	padding:0px;
}

li {
	float:left;
	display:inline;
	/*margin-left: -25px;	*/
	padding-bottom: 5px;
}

#myContainer 
{   
	margin-top: 40px;
		
}


#form-container 
{
	display: block;
	height: 500px;
	width: 700px;    
	margin: 0 auto;
	margin-top: 5%;
}


#description {
	font-size: larger;
}

#input-box 
{
	margin-top: 40px;
}

label 
{    
	font-size: 18px;
}

input, button 
{
	margin-top: 15px;
	margin-right: 25px;
}

#username
{    
	height: 20px;
	width: 250px;
	line-height: 25px;
	font-size: 25px;
	font-weight: 300;
	padding: 12px; 
	color: #353535;
	letter-spacing: 1px;
	font-family: museo-sans-rounded;
}


/******* PongR page specific style *********/

/* Header style */
#header
{
	width: 100%;
	height:15%;
	/*border: 1px solid black;*/  
}

.player-info-container 
{
	width: 48%;
	height: 100%;
	float: left;       
}

#vs 
{
	display: inline;
	float: left;
	width: 4%;
	height: 100%;  
	
}

#vs div
{
	margin-top: 10%;  
	padding: 20% 20% 20% 20%;
	font-size: 30px;
}

.player-info
{
	margin-top: 2%;
	width: 52%;
	height: 40%;
	border: 1px solid black;
}

#player1-info
{
	margin-left: 12%;
}

#player2-info
{
	float:right;
	margin-right: 12%;
}

.player-info ul li 
{
	padding: 2% 2% 2% 2%;
	font-size: 30px;    
}

.player-score
{
	float:right;	
}

#waiter 
{
    visibility: hidden;
	display: block;
	height: 100px;
	width: 200px;
	margin: 0 auto;
	margin-top: 15%;
}

#waiter img 
{   
    display: block;
	height: 32px;
	width: 32px;
	margin: 10px auto;	
}

/* Field  style */

#fieldContainer
{
	display: block;	
	margin-left: 3%;
}

